# Backend
backend/target/
backend/*.log
backend/*.iml
backend/.idea/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Frontend
react-frontend/node_modules/
react-frontend/dist/
react-frontend/.env
react-frontend/.vite/
react-frontend/package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
